<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/th/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/11509/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>餐厅</title>
</head>
<body>
<a href="__URL__/showUserPage">返回首页</a>
<h2>{$rname}</h2>
<br/><br/>

<table>

	<tr>
		<th width="150">菜名</th>
		<th width="150">原价</th>
		<th width="150">优惠价</th>
	</tr>
	
	<tr>
		<th width="150"><a href="__URL__/getOrder/did/{$did[1]}">{$dname[1]}</a></th>
		<th width="150">{$oprice[1]}</th>
		<th width="150">{$nprice[1]}</th>
	</tr>
	
	<tr>
		<th width="150"><a href="__URL__/getOrder/did/{$did[2]}">{$dname[2]}</a></th>
		<th width="150">{$oprice[2]}</th>
		<th width="150">{$nprice[2]}</th>
	</tr>
	
	<tr>
		<th width="150"><a href="__URL__/getOrder/did/{$did[3]}">{$dname[3]}</a></th>
		<th width="150">{$oprice[3]}</th>
		<th width="150">{$nprice[3]}</th>
	</tr>
	
	<tr>
		<th width="150"><a href="__URL__/getOrder/did/{$did[4]}">{$dname[4]}</a></th>
		<th width="150">{$oprice[4]}</th>
		<th width="150">{$nprice[4]}</th>
	</tr>
	
	<tr>
		<th width="150"><a href="__URL__/getOrder/did/{$did[5]}">{$dname[5]}</a></th>
		<th width="150">{$oprice[5]}</th>
		<th width="150">{$nprice[5]}</th>
	</tr>
	

</table>
  
</body>
</html>